<h3>Login</h3>

<div class="text-info">
	<%= params[:message] %>
</div>

<form action="/login" method="POST">
	Username:<br>
	<input type="text" name="username">
	<br>Password:<br>
	<input type="password" name="password"><br><br>
	<input type="submit" value="Login">
</form>

<p>Don't have an account? <a href="/signup">Sign up!</a></p>
